$event-bg-color: #8f948f;
$button-delete-bg-color: #ac392a;
$title-font-color: #0c0c0c;
$scroll-bg-color: #1e1e24;
$scroll-thumb-bg-color: #ffaa00;

.event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: $event-bg-color;

  &_title {
    overflow-x: auto;
    max-width: 80px;
    font-size: 1rem;
    color: $title-font-color;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: $scroll-bg-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $scroll-thumb-bg-color;
    }
  }

  &_button-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-delete-bg-color;
    border: none;
    cursor: pointer;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
