$row-title-bg-color: #354251;
$table-border-color: #3aa0e8;
$table-header-th-color: #354251;
$table-row-title-font-color: #ffffff;

.table-events {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  &_row-title {
    background-color: $row-title-bg-color;
  }

  & td,
  th {
    white-space: pre-wrap;
    padding: 10px 0px;
    vertical-align: middle;
    border: 2px solid $table-border-color;
  }

  & th {
    font-weight: normal;
    font-size: 1.4rem;
    color: $table-col-title-font-color;
    background-color: $table-header-th-color;
  }

  & td {
    position: relative;
    width: 100px;
    font-size: 1.4rem;
    color: $table-row-title-font-color;
  }
}
