.page-nav {
  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.page-nav_controls {
  display: flex;
  justify-content: flex-start;
  &-item:not(:last-child) {
    margin-right: 20px;
  }
}
